/* Write your CSS here */
.bg-container {
  background-color: #1e293b;
  height: 100ch;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bree Serif';
}
.card-container {
  text-align: center;
}

.heading {
  font-size: 80px;
  color: #f0bb03;
}
.description {
  color: white;
  font-size: 30px;
}
button {
  height: 35px;
  width: 90px;
  border-radius: 6px;
  border-style: none;
  background-color: white;
  margin: 10px;
}
.subscribed-button {
  width: 100px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
